/* Floating to left and right */

.left {
  float: left;
}

.right {
  float: right;
}

/* Picture formatting for gallery and teaser pictures */

.right-teaser {
  padding: 1px;
  border: 1px solid #4c0303;
  float: right;
  margin: 0 0 1em 1em;
  width: 12vw;
}

.logo-pic {
  padding: 1px;
  border: 1px solid #4c0303;
  float: right;
  margin: 0 0 1em 1em;
  width: 8vw;
}

.galery-pic {
  padding: 1px;
  border: 1px solid #4c0303;
  margin: 0 0 1em 1em;
  /*max-width: 12vw;*/
  /*max-height: 12vw;*/
  width: 12vw;
  height: 12vw;
  vertical-align: middle;
}

/* Button formatting to blend in color scheme + hover effect with opacity */

.btn_small {
  height: 24px;
  width: 60px;
  line-height: 24px;
  margin: 5px 5px;
  padding: 0 0.5em;
}

.btn_mid {
  height: 24px;
  width: 120px;
  line-height: 24px;
  margin: 5px 5px;
  padding: 0 0.5em;
}

.btn {
  background: rgba(76, 3, 3, 0.6);
  color: white;
}

.btn:hover {
  background: rgba(76, 3, 3, 0.9);
  color: white;
}

/*  A simple footer formatting  */

.footer {
  color: white;
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-align: center;
}

/*Setting a class to set main color scheme for any background*/

.redbg {
  background-color: rgb(76, 3, 3);
}

/*Shift brand just a bit to avoid sticking to left */

.nav-wrapper {
  padding-left: 10px;
}

/* Opacity classes for different elements */

.op {
  background: rgba(76, 3, 3, 0.1);
  color: rgba(76, 3, 3);
  padding: 35px;
  margin-bottom: 15px;
}

/* ID based background behaviour */

.background-img-container {
  position: relative;
  overflow: hidden;
  color: rgba(76, 3, 3);
  padding: 35px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.background-img-container>.img-to-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.1;
}

.background-img-container>p,
h1,
h2,
h3,
h4 {
  z-index: 2;
  position: relative;
}

/*Just a bit of adjustment to dropdowns */

.dropdown-content {
  width: max-content !important;
  height: auto !important;
}
