{% extends 'base.html' %} {% block content %}

<!-- Services -->
<div class="op" id="rent">
    <h2>Services</h2>
    <p></p>

    <div>
        <div class="background-img-container">
            <img class="img-to-back" src="{{url_for('static', filename='pictures/black-and-white-blur-document-164821.jpg')}}" alt="Piano Studio" />
            <h3>Rent a Piano</h3>
            <img class="right-teaser" src="{{url_for('static', filename='pictures/petrof.jpg')}}" alt="Rent" />
            <p>We offer a choice of upright and grand pianos for hire to suit your event or home study needs.</p>
            <p>We cather for: Weddings, Parties, Recitals, Events, Concerts, Theaters, Rehearsals, Photo Shoots, Movie Shoots, Restaurants, Conservatories, Schools, Graduations, Opera plays, Ball Rooms, Family Functions, Festivals.</p>
            <p>We are happy to discuss and meet your requirements.</p>
            <ul>
                <li>Guaranteed Pricing - Upright pianos for beginners from 9000.- Ft. a month. Concert pianos for events from 50000.- Ft a day.</li>
                <li>Unlimited Exchanges - Looking for something different? Any time and as many times as you want!</li>
                <li>Buy at Any Time - If you’d like to buy, let us know and we’ll put your first 3 months of rental toward the purchase of the piano you’re renting.</li>
            </ul>
        </div>
        <div class="op">
            <h3>Available Pianos Gallery</h3>
            <div class="row op s12">
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/baumbach_1.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/baumbach_2.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/baumbach_a_1.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/baumbach_a_2.jpg')}}" alt="Piano Studio">
                </div>
            </div>
            <div class="row op s12">
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/calisia_1.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/calisia_2.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/Ed_Seiler_1_ikon.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/Ed_Seiler_2_ikon.jpg')}}" alt="Piano Studio">
                </div>
            </div>
            <div class="row op s12">
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/etyde_1.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/etyde_2.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/forster_1.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/forster_2.jpg')}}" alt="Piano Studio">
                </div>
            </div>
            <div class="row op s12">
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/forster_3.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/forster_4.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/forster_5.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/forster_6.jpg')}}" alt="Piano Studio">
                </div>
            </div>
            <div class="row op s12">
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/Fuchs_&_Mohr_a_1.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/Fuchs_&_Mohr_a_2.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/Fuchs_&_Mohr_b_1.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/Fuchs_&_Mohr_b_2.jpg')}}" alt="Piano Studio">
                </div>
            </div>
            <div class="row op s12">
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/j.ernst_1.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/j.ernst_2.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/Lauberger_&_Gloss_1.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/Lauberger_&_Gloss_2.jpg')}}" alt="Piano Studio">
                </div>
            </div>
            <div class="row op s12">
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/musica_1.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/musica_2.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/petrof_1.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/petrof_2.jpg')}}" alt="Piano Studio">
                </div>
            </div>
            <div class="row op s12">
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/ukrajna_1.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/ukrajna_2.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/ukrajna_a_1.jpg')}}" alt="Piano Studio">
                </div>
                <div class="col s3">
                    <img class="galery-pic materialboxed" src="{{url_for('static', filename='pictures/pianos/ukrajna_a_2.jpg')}}" alt="Piano Studio">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
