{% extends 'base.html' %} {% block content %}

<!-- Services -->
<div class="op" id="rent">
    <h2>Services</h2>
    <p></p>

    <div>
        <div class="op">
            <h3>Rent a Piano</h3>
            <img class="right-teaser" src="{{url_for('static', filename='pictures/petrof.jpg')}}" alt="Rent" />
            <p>We offer a choice of upright and grand pianos for hire to suit your event or home study needs.</p>
            <p>We cather for: Weddings, Parties, Recitals, Events, Concerts, Theaters, Rehearsals, Photo Shoots, Movie Shoots, Restaurants, Conservatories, Schools, Graduations, Opera plays, Ball Rooms, Family Functions, Festivals.</p>
            <p>We are happy to discuss and meet your requirements.</p>
            <ul>
                <li>Guaranteed Pricing - Upright pianos for beginners from 9000.- Ft. a month. Concert pianos for events from 50000.- Ft a day.</li>
                <li>Unlimited Exchanges - Looking for something different? Any time and as many times as you want!</li>
                <li>Buy at Any Time - If you’d like to buy, let us know and we’ll put your first 3 months of rental toward the purchase of the piano you’re renting.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
